{% extends "./base.html" %}

{% block content %}
	<main>
		{% include "../includes/find_box.html" %}

        {% if not_found %}
            <h2 class="info">По вашему запросу ничего не найдено</h2>
        {% else %}
            <h4 class="info">По вашему запросу найдено записей: {{ paginator.count }}</h4>
		<ul class="object_ul">
  		{% for object in page %}
  		  <li class="object_li">
            <h3 class="object_name">
                {{ object.name }}
            </h3>
     		 <ul>
                 <li>
                     <b>Статус:</b> {{ object.status }}
                 </li>
                 <li>
                     <b>Имя по документам:</b> {{ object.ensemble_name_on_doc }}
                 </li>
                 <li>
                     <b>Административный округ:</b> {{ object.adm_area }}
                 </li>
                 <li>
                     <b>Район:</b> {{ object.district }}
                 </li>
                 <li>
                     <b>Локация:</b> {{ object.location }}
                 </li>
                 <li>
                     <b>Адрес:</b> {{ object.addresses }}
                 </li>
                 <li>
                     <b>Категория:</b> {{ object.category }}
                 </li>
                 <li>
                     <b>Тип:</b> {{ object.type }}
                 </li>
                 <li>
                     <b>Координаты:</b> {{ object.lat_position }}, {{ object.long_position }}
                 </li>
             </ul>
   		 </li>
  		{% endfor %}
        {% include '../includes/paginator.html' with item=page paginator=paginator %}
		</ul>
        {% endif %}

	</main>
{% endblock %}