{% extends "../objects/base.html" %}

{% block content %}
    <main>

		<div class="d-flex justify-content-center align-items-center h-100">
		<form method="post" action="{% url 'login' %}" class="d-flex justify-content-center align-items-center">
			{% csrf_token %}
  			<div class=" mb-3" style="width: 300px;">
   				 <label  class="form-label d-flex justify-content-center">Логин</label>

				<span class="d-flex justify-content-center mb-3">{{ form.username }}</span>
  			<div >
   				 <label  class="form-label d-flex justify-content-center">Пароль</label>

					<span class="d-flex justify-content-center mb-3">{{ form.password }}</span>
			</div>
  			<div class="d-flex justify-content-center">
  		<button type="submit" class="btn btn-dark">Войти</button></div> <input type="hidden" name="next" value="{{ next }}" />

		<div class="d-flex justify-content-center mt-3">
			<p><a href="{% url 'password_reset' %}" style="text-decoration: none">Забыли пароль?</a></p>
		</div>
		</form>
		</div>

	</main>
{% endblock %}

